:root {
  --lineHeight: 1px;
}
* {
  direction: rtl;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
}
body {
  background: #fffafa;
  margin: auto;
  height: 100vh;
}
header {
  position: sticky;
  top: 0;
  background: #fffafa;
  box-shadow: 0 0 7px 1px gray;
  width: 100%;
  z-index: 10;
}
li {
  list-style-type: none;
}
.flat {
  display: flex;
}
.flat > * {
  margin: 5px;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
}
.flat > .space {
  flex-grow: 1;
}
footer {
  background: #ffb9b9;
  height: 66px;
}
header > ul > li {
  cursor: pointer;
  padding: 5px;
}

header li.space {
  cursor: unset;
}
.active {
  border-bottom: 2px solid #ffb9b9;
}
main {
  min-height: 800px;
  overflow: hidden;
  position: relative;
}
.center {
  display: grid;
  place-items: center;
}
.layout {
  width: 1024px;
  height: 50px;
  margin: auto;
}
.field {
  position: relative;
  width: 201px;
  margin: 1em;
  color: #777777;
}
.field > label {
  position: absolute;
  top: 0;
  right: 0;
}
.field > input:valid ~ label,
.field > input:focus ~ label {
  right: -1em;
  top: -1em;
  font-size: 90%;
}
.field > .line {
  width: 100%;
  height: var(--lineHeight);
  background: gray;
  position: relative;
}
.field > .line:after {
  content: "";
  height: calc(var(--lineHeight) + 1px);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 0;
  transition: all 0.2s ease-in-out;
}
.field > input:focus ~ .line:after {
  width: 100%;
  left: 0;
  transform: translateX(0);
  background: hsl(194 100% 43% / 1);
}
input[type="password"] ~ .icon.password > *:nth-child(1) {
  display: initial;
}
input[type="password"] ~ .icon.password > *:nth-child(2) {
  display: none;
}
input[type="text"] ~ .icon.password > *:nth-child(1) {
  display: none;
}
input[type="text"] ~ .icon.password > *:nth-child(2) {
  display: initial;
}
.field > input:valid ~ .line:after {
  width: 100%;
  left: 0;
  transform: translateX(0);
  background: hsl(194 100% 43% / 1);
}
.field > .icon > svg {
  position: absolute;
  top: 0;
  left: 0;
}
.field > .icon > svg path {
  stroke: gray;
}
.field > input {
  height: 2em;
}
.btn {
  width: 185px;
  height: 53px;
  margin: 1em;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1.4em;
  cursor: pointer;
}
.btn.A {
  background: #f0616d;
}
.btn.accept {
  background: #00dbdb;
}
.btn.back {
  background: #f0616d;
}
.n {
  display: none !important;
}
.dialog.response:not([data-content=""]) {
  opacity: 1;
  z-index: 1;
}
.dialog.response svg path {
  stroke: #620000;
}
.dialog {
  padding: 0.5rem 2em;
  border-radius: 20px;
  background: #fefde6;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 4px 1487px rgba(0, 0, 0, 0.25);
  color: #620000;
  z-index: -1;
  opacity: 0;
}
.title svg path {
  stroke: #620000;
}
.title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 1rem;
}
.dialog > .content {
  margin-top: 2rem;
}
header > ul > li:last-child {
  display: none !important;
}
body[data-token] > header > ul > li:last-child {
  display: grid !important;
}
svg {
  cursor: pointer;
}
.dialog.show {
  z-index: 1;
  opacity: 1;
}
main > .title {
  background: #ffb9b9;
  padding: 1rem 2.5rem;
}
main > .title > * {
  width: 1024px;
  margin: auto;
}
.label {
  background: #feebd6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 0.5em 2em;
  margin: 2em;
  width: var(--dw);
}
.phone {
  display: flex;
}
.phones > div {
  display: flex;
  border-radius: 20px;
  padding: 0.5rem;
  box-shadow: 0 0 10px black;
  margin: 1rem;
}

.bg:before {
  content: "";
  width: 100vw;
  height: 95vh;
  position: absolute;
  z-index: -1;
  top: 0;
  background-image: url("/images/bg_bggenerator_com_1.png");
  background-position: center;
}
.bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  background: hsl(0deg 100% 98% / 50%);
}
main table {
  background: rgba(255, 255, 255, 0.37);
  border-radius: 15px;
  min-width: 500px;
}
main table > thead {
  background: #ffb9b9;
  width: 500px;
  border-radius: 100px;
}
main table > thead > tr {
  border-radius: 100px;
}
main table > thead th {
  padding: 0.5em;
}
main table > tbody > tr {
  background: rgba(197, 197, 197, 0.15);
}
main table > tbody > tr:nth-child(2n + 1) {
  background: rgba(255, 255, 255, 0.54);
}
main table > tbody td {
  padding-right: 2em;
}
main table > tbody td:last-child {
  padding-right: 0em;
}
.users button.add {
  margin-right: 450px;
}
/* main table > * > tr > *:last-child {
  display: none !important;
} */
