.bg:before {
  content: "";
  width: 100vw;
  height: 95vh;
  position: absolute;
  z-index: -1;
  top: 0;
  background-image: url("/images/bg_bggenerator_com_1.png");
  background-position: center;
}
.bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  background: hsl(0deg 100% 98% / 50%);
}
.users > table {
  background: rgba(255, 255, 255, 0.37);
  border-radius: 15px;
  min-width: 500px;
}
.users > table > thead {
  background: #ffb9b9;
  width: 500px;
  border-radius: 100px;
}
.users > table > thead > tr {
  border-radius: 100px;
}
.users > table > thead th {
  padding: .5em;
}
.users > table > tbody > tr{
  background: rgba(197, 197, 197, 0.15);
}
.users > table > tbody > tr:nth-child(2n+1){
  background: rgba(255, 255, 255, 0.54);
}
.users > table > tbody td{
  padding-right:2em;
}
.users > table > tbody td:last-child{
  padding-right:0em;
}
.users button.add {
  margin-right: 450px;
}
